<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <style type="text/css">
    .bs-example {
      margin: 0px;

    }

    .navbar-brand {
      font-size: 26px;
    }

    .navbar-brand:hover{
      padding: 0px 2px;
      border-radius: 5px;
      background-color: #ff0000b2;
      transition: 0.5s;
    }
    
  </style>
</head>

<body>



  <div class="bs-example">
    <nav style="background-color: #ff5c5c;" class="navbar navbar-expand-md navbar-dark fixed-top">
      <a href="/" class="navbar-brand fs-1">GetBloodOnline</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">


        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="/">&nbsp; Home</i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="/patient/patientlogin">&nbsp; Patient</i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="/donor/donorlogin">&nbsp; Donor</i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="/adminlogin">&nbsp; Admin</i></a>
                </li>
                
            </ul>
        </div>
      </div>
    </nav>
  </div>
</body>

</html>